.app {
  height: 100vh;
  color: white;
}

.form form {
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.178);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
}

.title input {
  font-family: "Changa", sans-serif;
  width: 25rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.521);
  border: 2px solid rgba(0, 0, 0, 0.521);
  outline: none;
  color: white;
  border-radius: 0.3rem;
}

.title input:focus {
  border: white;
  background: rgba(32, 32, 32, 0.658);
  border: 2px solid rgb(32, 32, 32);
}

.choose-file input::-webkit-file-upload-button {
  font-family: "Changa", sans-serif;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.521);
  border: 2px solid rgba(0, 0, 0, 0.521);
  border-radius: 0.3rem;
  color: white;
  transition: 0.5s;
}

.choose-file input:hover::-webkit-file-upload-button {
  background: rgba(32, 32, 32, 0.658);
  border: 2px solid rgb(32, 32, 32);
}

.submit input {
  font-family: "Changa", sans-serif;
  padding: 0.5rem 1rem;
  background: rgba(1, 85, 26, 0.658);
  border: 2px solid rgba(1, 85, 26, 0.658);
  color: white;
  transition: 0.5s;
  border-radius: 0.3rem;
}

.submit input:hover {
  background: rgba(0, 122, 37, 0.336);
  border: 2px solid rgb(0, 122, 37);
}

.msg {
  background: rgba(1, 85, 26, 0.466);
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 1rem;
}
