/* font-family: 'Changa', sans-serif;
font-family: 'Neonderthaw', cursive;
green: #1DB954
black: #191414 */

body {
  margin: 0;
  font-family: "Changa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../assets/bg3.jpg") no-repeat center center / cover;
  object-fit: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
